/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

/* Colors */
$body-bg: #FAF9F6;
$navbar-bg: #E5E1DC; 
$body-color: #000000;
$link-color: rgb(39, 128, 227);

/* Fonts */
$font-family-sans-serif: "Times", "Times New Roman", serif;
$font-family-monospace: "Courier", "Courier New", monospace;
$font-size-root: 17px;


